
.card {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-list{
  display: flex;
  justify-content: space-around;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.card-name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}


.card-img img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}


.card-description {
  font-size: 1rem;
  color: #666;
  margin: 15px 0;
  line-height: 1.5;
}


.card-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.card-characters div {
  background-color: #f4f4f4;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}


.btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
